.dropDown {
  display: inline-block;
  position: relative;
  width: 100%;
  &.disabled {
    opacity: 0.45;
    pointer-events: none;
  }
  &.open {
    .selectField {
      border-color: #96C8DA;
      border-radius: 0.285rem 0.285rem 0 0;
      border-bottom-color: transparent;
    }
    &.newPositionTopContainer {
      .selectField {
        border-radius: 0 0 0.285rem 0.285rem;
        border-top-color: transparent;
        border-bottom-color: #96C8DA;
      }
    }
  }

  .selectField {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 1rem;
    background-color: #fff;
    border: 1px solid rgba(34, 36, 38, 0.15);
    border-radius: 0.28571429rem;
    height: 2.769em;
    padding: 0.4em 2.1em 0.4em 1em;
    position: relative;
    .value {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
    }
  }

}

.itemsList {
  margin-top: -1px;
  max-height: 210px;
  border: 1px solid #96C8DA;
  border-top: none;
  overflow-y: auto;
  z-index: 999;
  cursor: pointer;
  position: absolute;
  width: 100%;
  border-radius: 0 0 0.285rem 0.285rem;
  background-color: #ffffff;
  animation-iteration-count: 1;
  transform-origin: top center;
  animation-duration: 300ms;
  animation-fill-mode: both;
  .item {
    border-top: 1px solid #fafafa;
    display: flex;
    align-items: center;
    padding: 0.6em 1em;
    &:hover {
      font-weight: normal;
      background: rgba(0, 0, 0, 0.05);
      color: rgba(0, 0, 0, 0.95);
    }
    &.selected {
      font-weight: bold;
      background: rgba(0, 0, 0, 0.03);
      color: rgba(0, 0, 0, 0.95);
    }
  }
  &.newPositionTop {
    margin-top: 1px;
    border-radius: 0.285rem 0.285rem 0 0;
    border: 1px solid #96C8DA;
    border-bottom: none;
  }
}
