.filteringControlBlock {
  overflow: hidden;
  height: 430px;
  cursor: default;
  padding: 10px;
  z-index: 999;
  position: absolute;
  left: 10px;
  top: 10px;
  width: 290px;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  transition: height 400ms linear;
  h2 {
    font-size: 16px;
    margin: 0;
  }
}

.filterSelect {
  height: 58px;
  h4 {
    line-height: normal;
    margin: 12px 0 6px 0;
  }
}

.collapsed {
  height: 44px;
}

.header {
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.collapseBtn {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

.cityAutoComplete {
  width: 209px;
}

.submitBtnContainer {
  margin-top: 15px;
  text-align: center;
}