.legend {
  display: flex;
  cursor: default;
  padding: 5px 10px;
  background-color: #fff;
  z-index: 999;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
}

.category {
  display: flex;
  align-items: center;
  margin-right: 10px;
  & > div, img {
    margin-right: 7px;
  }
  &:last-child {
    margin-right: 0;
  }
}

.label {
  white-space: nowrap;
}
